[Unit]
Description=Example API service
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull registry.local/example-api:latest
ExecStartPre=-/usr/bin/docker kill example-api
ExecStartPre=-/usr/bin/docker rm example-api
ExecStart=/usr/bin/docker run \
	--name example-api \
	-v /home/core/certs:/mnt \
	-e ETCD_ENDPOINT=https://%H.${private_dns_zone_name}:2379 \
	-e ETCD_CERT_FILE=/mnt/client.pem \
	-e ETCD_KEY_FILE=/mnt/client-key.pem \
	-e ETCD_CA_FILE=/mnt/ca.pem \
	-e VIRTUAL_HOST=${virtual_host} \
	--log-driver=journald \
	registry.local/example-api:latest \
	example-api runserver
ExecStop=/usr/bin/docker stop example-api

[X-Fleet]
Global=true
