{
  "Database": {
    "Type": "{{ database_type }}",
    "Host": "{{ database_host }}",
    "Port": {{ database_port }},
    "User": "{{ database_user }}",
    "Password": "{{ database_password }}",
    "DatabaseName": "{{ database_name }}",
  },
  "Oauth": {
    "AccessTokenLifetime": 3600,
    "RefreshTokenLifetime": 315400000,
    "AuthCodeLifetime": 3600
  },
  "AWS": {
    "Region": "{{ aws_region }}",
    "APNSPlatformApplicationARN": "{{ apns_platform_application_arn }}",
    "GCMPlatformApplicationARN":  "{{ gcm_platform_application_arn }}"
  },
  "IsDevelopment": {{ is_development | to_json }}
}
